@layout__max-width: 1170px;

// Colors
@theme-color: #29abe2;
@theme-secondary-color: #e9e9e9;
@base-font-family: 'Open Sans',Arial,Helvetica,sans-serif;

// Button
@button__border-radius: 0;

// Header
@header__border-color: @theme-color;

// Navigation
@navigation__background: @color-white;

@navigation-desktop__font-size: 16px;
@navigation-desktop__font-weight: 600;

@navigation-desktop-level0-item__color: @color-gray20;
@navigation-desktop-level0-item__padding: 0 15px;
@navigation-desktop-level0-item__margin: 0px;
@navigation-desktop-level0-item__display: inline-block;
@navigation-desktop-level0-item__line-height: 40px;


@navigation-desktop-level0-item__active__border-color: @theme-color;
@navigation-desktop-level0-item__active__color: @theme-color;

@navigation-desktop-level0-item__hover__color: @theme-color;

@submenu-desktop__font-size: 14px;
@submenu-desktop__font-weight: normal;
@submenu-desktop__background: @color-white;
@submenu-desktop__border-width: 0px;
@submenu-desktop-item__color: @color-gray20;
@submenu-desktop-item__hover__background: '';
@submenu-desktop-item__hover__color: @color-gray-light3;
@submenu-desktop-item__padding: 15px 20px;


// Form
@form-element-input__border-color: @color-gray90;
@form-element-input__background: @color-white-fog;
@form-element-input__height: 35px;

// Button
@button-primary__background: @theme-color;
@button-primary__border: 1px solid @theme-color;
@button-primary__color: @color-white;