@layout__max-width: 1170px;

// Colors
@theme-color: #29abe2;
@base-font-family: 'Open Sans',Arial,Helvetica,sans-serif;

// Header
@header__border-color: @color-gray82;

// Navigation
@navigation__background: @color-white;
@navigation-level0-item__color: @color-black;
@navigation-desktop-level0-item__color: @color-black;
@navigation-desktop__font-size: 12px;

// Form
@form-element-input__border-color: @color-gray90;
@form-element-input__background: @color-white-fog;
@form-element-input__height: 35px;

// Button
@button-primary__background: @theme-color;
@button-primary__border: 1px solid @theme-color;
@button-primary__color: @color-white;